/*************************************index2.html******************by*Adrian***************************/
.mainbox h3 {
    font-size: 1.5em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 75;

  background: #683717; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(104,55,23,0.9), rgba(61,45,39,0.1)); /*Safari 5.1-6*/
  background: -o-linear-gradientrgba(104,55,23,0.9), rgba(61,45,39,0.1); /*Opera 11.1-12*/
  background: -moz-linear-gradientrgba(104,55,23,0.9), rgba(61,45,39,0.1); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(236,21,98,0.9), rgba(236,21,98,0.1)); /*Standard*/
}

.mybtn{
	 font-size: .85em;
    text-transform: uppercase;
    padding: 1em 1em;
    background: red;
    color: #fff;
    display: block;
    width: 100px;
    margin: 1.5em auto 0;
    border-radius: 4px;
    font-weight: 700;
    text-decoration:none;
    letter-spacing: 1px;
}

.mybtn:hover{
	background: #BDA297;
    color:#3D2D27;
}

.mysecondbtn{
	 font-size: .85em;
    text-transform: uppercase;
    padding: 1em 1em;
    background: red;
    color: #fff;
    display: inline-block;
    width: 200px;
    margin: 1.5em auto 0;
    border-radius: 4px;
    font-weight: 500;
    text-decoration:none;
    letter-spacing: 1px;
}

.mysecondbtn:hover{
	background: #BDA297;
    color:#3D2D27;
}

/********************************end*of*index2.html****************************************************/

/*defaul*/
#logo{position: relative;text-align: left;margin-bottom: -20px;margin-top:10px;}

#logo img{width: 75px;}
#logo h1{font-family: Georgia;display: inline-block;font-size: 20px;}
#carusel{margin-left: 0px;margin-right: 0px;}
.carousel,.item,.active {height: 410px;}
.carousel-inner {height: 410px;}
.image {position: relative;width: 100%; }
/*end of defaul*/

@media screen and (max-width: 400px) {  /* width:>200 */
	#logo h1{font-family: Georgia;display: inline-block;font-size: 24px;}
	#logo img{width: 75px;}
	#carusel{margin-left: 0px;margin-right: 0px;}
	.carousel,.item,.active {height: 400px;}
	.carousel-inner {height: 400px;}
}
@media screen and (min-width: 500px) {  /* width:>500 */
	#logo h1{display: inline-block;}
	#logo img{margin-top: 75px;}
	#carusel{margin-left: 100px;margin-right: 100px;}
	.carousel,.item,.active {height: 400px;}
	.carousel-inner {height: 400px;}
	
}
@media screen and (min-width: 768px) {  /* width:>768 */
	#logo h1{font-family: Georgia;display: inline-block;font-size: 20px;}
	#logo img{margin-top: 20px}
	#carusel{margin-left: 75px;margin-right: 75px;}
	.carousel,.item,.active {height: 400px;}
	.carousel-inner {height: 400px;}
}
@media screen and (min-width: 992px) {  /* width:>992 */
	#logo h1{font-family: Georgia;display: inline-block;font-size: 40px;}
	#logo img{margin-top: -20px;margin-bottom: -20px;}
	#carusel{margin-left: 175px;margin-right: 175px;}
	.carousel,.item,.active {height: 400px;}
	.carousel-inner {height: 400px;}
}
@media screen and (min-width: 600px) {  /* width:>1200 */
	#logo h1{font-family: Georgia;display: inline-block;font-size: 20px;}
	#logo img{margin-top: -20px;margin-bottom: -20px;}
	#carusel{margin-left: 0px;margin-right: 0px;}
	.carousel,.item,.active {height: 370px;}
	.carousel-inner {height: 400px;}
}

/*CSS Alejandro*/


